.heading {
    font-style: italic;
    font-weight: 500;
    color: rgb(81, 81, 183);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-container {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.margins { 
    margin-bottom: 100px;
}